.App {
  font-family: sans-serif;
}

form {
  display: flex;
  flex-direction: column;

}

form input {
  margin: 8px 0;
  padding: 8px;
  width: 300px;
}

form button {
  padding: 8px 16px;
}

label{
  margin-top: 20px;
}

.header {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

.header button {
  padding: 10px 20px;
  height: 50px;
  border-radius: 30px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.5s all ease;
}

.header button:hover {
  color: black;
  background-color: transparent;
  border: 1px solid black;

}

.api-key-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 20px;
  height: 100%;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  flex-grow: 1;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
  border-bottom: 1px solid gray;
}

.card-header button {
  padding: 7px 15px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid green;
  color: green;
}

.titles {
  margin: 10px;
}

.titles p {
  color: gray;
  font-size: 12px;
}

.titles p span {
  font-size: 18px;
  color: black;
  font-weight: bold;
}


.api {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eye {
  background-color: transparent;
  border: none;
  color: gray;
  font-size: 20px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.delete {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 20px;
}

.default {
  background-color: cadetblue;
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 10px;
  color: white;
}

.setDefault {
  padding: 7px 15px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid green;
  color: green;
  font-size: 10px;
  cursor: pointer;

}

input{
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}


.submit{
  margin: 20px 0;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 0;
  font-size: 16px;
}